{:kotoba.app/id "cloud.itonami.isic-0721", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreia4ysbw3ilqayko34rinedrteetftiusqbfolaojghqgobidwvbia", :kotoba.app/embed-url "ipfs://bafkreia4ysbw3ilqayko34rinedrteetftiusqbfolaojghqgobidwvbia", :published {:archive "https://kotobase.net/ipfs/bafkreia4ysbw3ilqayko34rinedrteetftiusqbfolaojghqgobidwvbia", :size 72746, :put-status 201, :get-status 200, :at "2026-08-15T13:36:07.325Z"}}
